:root {
  --heading-font: "Poppins", sans-serif;
  --body-font: "Open Sans", sans-serif;

  --text-color: #333333;
  --primary-color: #2b702e;
  --secondary-color: #ffffff;
  --terciary-color: #112e12d3;
  --accent-color: #d48700;
  --light-grey: #cccccc;
  --dark-grey: #999999;
  --background-color: #f5f5f5;
  --transparent-background-color: #f5f5f531;
  --secondary-background-color: #ffffff;

  --max-width: 1200px;
  --border-radius: 6px;
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
}
