@import "./variables/variables.css";

button {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
}

.cta-button {
  font-size: 1rem;
  color: #fff;
  background-color: var(--accent-color);

  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
  font-weight: bold;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}
