@import "./variables/variables.css";

.cta-button {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background-color: var(--accent-color);
  padding: 0.75rem 2rem;
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
  font-weight: bold;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}
