form {
  max-width: 45vw;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  border: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  label {
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0.2rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    padding: 0.8rem;
    font-family: var(--body-font);
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius);
    box-shadow: inset var(--box-shadow-light);
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: var(--accent-color);
      box-shadow: 0 0 6px rgba(212, 135, 0, 0.5);
    }

    &::placeholder {
      color: var(--dark-grey);
    }
  }

  span {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 1rem;
  }

  button {
    margin-top: 1rem;
  }
}

h2 {
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;

  span {
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 3rem 0 4rem 0;
    font-size: 4rem;
    background-size: contain;
    background-image: url("/img/equipo_reforestacion.jpg");
    background-clip: text;
    background-position: center;
    color: transparent;
  }

  @media (max-width: 480px) {
    span {
      font-size: 2rem;
      background-size: cover;
    }
  }
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;

  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
}

@media (max-width: 480px) {
  form {
    max-width: none;
    margin: 0.5rem;
    padding: 0.5rem;
    align-self: center;
    gap: 1rem;
  }
}
